body{
  font-family: Poppins;
  background: linear-gradient(135deg,#1f4037,#99f2c8);
  text-align: center;
  color: white;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4,100px);
  gap: 15px;
  justify-content: center;
}

.card{
  width: 100px;
  height: 100px;
  perspective: 1000px;
}

.inner{
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip{
  transform: rotateY(180deg);
}

.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.front{
  background: cyan;
}

.back{
  background: white;
  color: black;
  transform: rotateY(180deg);
}

.popup{
  display:none;
  font-size: 30px;
  margin-top:20px;
}
