body {
    margin: 0;
    font-family: Arial;
    background: #0f0f1a;
    color: white;
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background: #141428;
    padding: 20px;
    box-shadow: 2px 0 20px black;
}

.sidebar h2 {
    text-align: center;
    color: #3a3aff;
}

.sidebar button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: #1f1f3a;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar button:hover {
    background: #3a3aff;
    transform: scale(1.05);
}

.main-content {
    flex: 1;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(34, 0, 255);
}


iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: none;
}

.welcome {
    text-align: center;
    margin-top: 200px;
}
p:hover{
    color: white;
}
h1:hover{
    color: #5353d9;
}

form{
    color: #7a7ad3;
    padding: 10px;


}
