body {
    margin: 0;
    background: #0f0f1a;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #141428;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    box-shadow: 0 0 25px #3a3aff;
    color: white;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    width: 80%;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background: #1f1f3a;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #3a3aff;
}
