
body{
  background:linear-gradient(#5ff65d,#3eea0a);
  text-align:center;
  overflow:hidden;
  font-family:Arial;
  
}
.balloon{
  width:50px;height:60px;
  background:rgb(15, 73, 20);
  border-radius:60%;
  position:absolute;
  cursor:pointer;
}

h1{
    text-align: center;
    color: brown;
    font-weight: bold;
    border-radius: 20px;
    border:solid black ;
    padding: 10px;
    background-color: aliceblue;
}
p{
    height: 200px;
    width: auto;
}
p:hover{
    color: rgb(181, 16, 16);
    font-size: medium;
    font-weight: bold;
}
#caption{
    border-radius: 50px;
    border:solid 1px black ;
    padding: 10px;
    background-color: rgb(239, 242, 222);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(248, 2, 129);
}
